@import "variables";

.checkout {
  font-size: 1em;

  .continueShoppingBtn {
    border-radius: 2em;
    width: 100%;
  }

  .button-text {
    h5 {
      font-size: 1.2em;
    }
  }

  table {
    border: none;

    thead {
      tr {
        border-top: none;

        th:first-child {
          text-align: left;
        }

        th {
          border-left: none;
          border-right: none;
          border-top: none;
          text-align: center;
        }
      }
    }

    tbody {
      tr {
        text-align: center;

        td:first-child {
          text-align: left;
        }

        td {
          border-left: none;
          border-right: none;
          text-align: center;
          vertical-align: middle;
        }
      }
    }
  }

  .quantity-editor {
    min-width: 10em;
  }

  .react-bootstrap-table-pagination {
    margin-top: 12px;
    font-size: 1em;

    button {
      margin-right: 5px;
    }

    .react-bootstrap-table-pagination-list {
      ul {
        float: right;

        li {
          a {
            font-size: 1em;
            padding: 6px 12px;
            border: 1px solid #dee2e6;
            border-radius: 5px;
            text-decoration: none;
          }
        }
      }
    }
  }

  .tr-image {
    width: 90px;
  }

  .quantity-editor {
    label {
      font-size: 1.1em;
    }

    svg {
      color: $checkout-quantity-svg-color;

    }
  }

  .react-bootstrap-table table {
    table-layout: auto;
  }

  .total {
    font-weight: bold;
  }

  svg {
    cursor: pointer;
  }

}

@media (max-width: $layout-breakpoint-xs) {
  .checkout {
    font-size: .8em;

    .react-bootstrap-table-pagination {
      button {
        padding: .2em .4em;
        margin-right: 5px;
      }

      .react-bootstrap-table-pagination-list {
        margin-top: 12px;
      }
    }

    .tr-image {
      width: 50px;
    }

  }
}

@media (max-width: $layout-breakpoint-lg + 35px) and (min-width: $layout-breakpoint-xs) {
  .checkout {
    .tr-image {
      width: 90px;
    }
  }
}
