//--Media-Break-Points
$layout-breakpoint-xs: 576px;
$layout-breakpoint-md: 768px;
$layout-breakpoint-lg: 992px;
$layout-breakpoint-xl: 1200px;

//--Product-UX
$product-border-color: #C0C0C0;
$current-price-color: #45AB49;

//--Top-Nav-Bar
$header-nav-bottom-color: #C0C0C0;
$logo-color: #0abd48;
$tele-phone-number-color: black;
$close-button-color: red;

//--Bottom-Nav
$bottom-nav-font-color: #555555;
$bottom-nav-dropdown-border: #1E7E34;

//--Night-Mode
$night-mode-button-hover-color: #128D15;
$night-mode-background-color: #4D4D4D;

//--Welcome-Banner
$welcome-green-color: #4a8601;

//--Categories
$categories-title-color: #00a824;
$category-item-border: #c0c0c0;
$category-item-title: #646464;
$category-item-hover-color: #e1fdc1;

//--Cart-Preview
$badge-shadow-color: #757575;
$item-qty-color: #757575;
$item-subtotal-color: #4caf50;

//--Log-In
$log-in-title-color: #00a824;
$log-in-button-color: #00a824;
$form-check-border-color: #c0c0c0;

//--Footer
$footer-background: #2a2a2a;
$footer-links: #b5b5b5;

//--Checkout-Table
$checkout-quantity-svg-color: #D4C3BD;
$checkout-active-pagination-color: #81C784;
$checkout-pagination-color: #4F86A7;
